.duc_groups_id{    margin:0 auto;
}
.duc_groups_id table{
    border-collapse: collapse;
	border: 1px solid #000;
	font-size:normal;
}
.duc_groups_id table tr{

}
.duc_groups_id head tr{

}
.duc_groups_id table th{
    padding:10px;
    text-align:left;
    border: 1px solid #000;
}
.duc_groups_id table td{
    padding:10px;
    border: 1px solid #000;
}
.duc_groups_id table tr th{

}
.duc_groups_id table tr td{

}
