.modules{    padding:10px;
}
.modules .heading{
    font-size:large;
    color:#835693;
}
.modules ul{	padding: 4px;
}
.modules li{
    list-style-type: square;
    margin-left:20px;
    padding: 2px;
    float:left;
}
.modules li.select{
    background-color:#739356;
    color:#ffffff;
}

.modules li a{

}