.madal_popup{	margin:50px 10px;
	padding: 20px;
	background-color: #f7ffe0;
	border-radius: 15px;
}

.madal_popup_vip{
	margin:50px 10px;
	padding: 20px;
	background-color: #ffd5c4;
	border-radius: 15px;
}